<div class="row">
    {{#if total_num}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    Total: {{total_num}} listas
                </h4>
            </div>
        </div>
    </div>
    {{/if}}
    {{#each listas}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    {{this.name_lista}}
                <a href="/listas/{{this.lista_id}}/delete_list/"><i class="fas fa-trash-alt"></i></a>
                <a href="/listas/{{this.lista_id}}/edit_list/"><i class="fas fa-edit"></i></a>
                </h4>
                <a class="btn btn-success btn-block btn-sm" href="/listas/{{this.lista_id}}/">Acceder</a>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    Añadir Nueva Lista
                </h4>
                <a class="btn btn-info btn-block btn-sm" href='/listas/add'>Añadir</a>
            </div>
        </div>
    </div>
</div>