<div class="row">
    {{#if total_num}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    Total: {{total_num}} productos
                </h4>
                <p>{{descripcion}}</p>
                <form action="/eliminar-todo?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="button" class="btn btn-danger btn-block btn-sm" data-toggle="modal" data-target="#exampleModal">Vaciar Lista</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estas seguro que quieres eliminar todos los elementos de la lista?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-danger">Vaciar Lista</button>
                    </div>
                    </div>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    Añadir Nuevo Producto
                </h4>
                <p>{{descripcion}}</p>
                <a class="btn btn-info btn-block btn-sm" href='/notes/add'>Añadir</a>
            </div>
        </div>
    </div>
    {{#each notas}}
    <div class="col-md-3" style="padding-top: 10px;">
        <div class="card"> 
            <div class="card-body">
                <h4 class="card-title">
                    {{titulo}} 
                </h4>
                <form action="/notes/eliminar-nota/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button>
                <a class="btn btn-success btn-block btn-sm" href="/notes/edit/{{_id}}">Editar</a>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>